body{
	background-color: cadetblue;
}
h1{
	color: darkblue;
}
p{
	color: red;
	background-color: darkgray;
	font-family: Arial, Helvetica, sans-serif;
}
h1,p{
	text-align: center;
}
 . is class # is id
.center{
    text-align: center;
}
#quote2{
    color: blue;
}
